<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:light,regular,medium,thin,italic,mediumitalic,bold" title="roboto">
	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script>
		function addCommas(nStr) {
			nStr += '';
			var x = nStr.split('.');
			var x1 = x[0];
			var x2 = x.length > 1 ? '.' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + '<span style="margin-left: 3px; margin-right: 3px;"/>' + '$2');
			}
			return x1 + x2;
		}

		window.onload = function(e){
			// NUI Callback
			window.addEventListener('message', function(event){
				var data = event.data;
				
				if(data.setData == true) {
					if ($.isArray(data.label)) {
						data.label = "<span class='label' style='color:" + data.label[1] + "'>" + data.label[0] + "</span>"
					}
					else {
						data.label = "<img class='icon label' src='../../../resources/" + data.label + "' alt=''/>"
					}

					if ($('#' + data.name).length) {
						$('#' + data.name + ' .value').html(addCommas(data.value))
					}
					else {
						$('#data').append("<li id='" + data.name + "'>" + data.label + "  <span class='value' >"+ addCommas(data.value) +"</span></li>")
					}
					
				}

				if(data.setmoney == true) {
					test = data.money
					document.getElementById("cash").innerHTML = "<div><font style='color: rgb(0, 125, 0); font-weight: 700; margin-right: 6px;'>£</font>" + addCommas(test);
				}

			// 	if(item.addcash == true){
			// 		$(".tiny").remove();

			// 		var element = $("<div class='tiny'>+<font style='color: rgb(0, 125, 0); font-weight: 700; margin-right: 6px;'>£</font>"+addCommas(item.money)+"</div>")
			// 		$("#money").append(element)

			// 		setTimeout(function(){
			// 			$(element).fadeOut(600, function() { $(this).remove(); })
			// 		}, 1000)
			// 	}
			// 	if(item.removecash == true){
			// 		$(".tiny").remove();
					
			// 		var element = $("<div class='tiny'>-<font style='color: rgb(250, 0, 0); font-weight: 700; margin-right: 6px;'>£</font>"+addCommas(item.money)+"</div>")
			// 		$("#money").append(element)

			// 		setTimeout(function(){
			// 			$(element).fadeOut(600, function() { $(this).remove(); })
			// 		}, 1000)
			// 	}
			// 	if(item.removeStartWindow == true){
			// 		$("#starter").remove();
			// 	}
			// 	if(item.setDisplay == true){
			// 		$("#money").css('opacity', item.display)
			// 	}
			// })
		})
	}
	</script>

	<style>
		@font-face {
			font-family: pcdown;
			src: url(pdown.ttf);
		}
		.tiny {
			font-size: 29px;
			position: absolute; right: 10;
		}
		#data {
			font-size: 35px;
			color: white;
			padding: 4px;
			text-shadow:
				-1px -1px 0 #000,
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
		}

		#container {
			position: absolute;
			top: 40; right: 40;
			text-align:right;
			width:80%;
		}

		.icon {
			height: 21px;
			width: auto;
			margin-right: 10px;
		}
		li {
			font-family: pcdown;
			display: block;
		}
	</style>
</head>

<body>
	<!--<div id="starter" style="font-family: 'roboto'; color: white; position: absolute; left: 20%; top: 5%; width: 60%; background: rgba(40, 40, 40, 0.8)">

	</div>-->
	<div id="container">

			<ul id="data">
			</ul>
	</div>
</body>
